.title {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  height: 500px;
}

.square {
  height: 300px;
  width: 370px;
  // position: fixed;
  // right: 200px;
  // bottom: 100px;
}

.subtitle{
  color: #9d62ee;
  letter-spacing: 8px;
  font-size: 20px;
}

.body-text {
  padding-top: 10px;
  padding-bottom: 30px;
}
