.title{
  text-align: center;
  margin-top: -10px !important;
}

.container{
  border: 8px dotted #e6c6ff;
  cursor: pointer;
  border-radius: 30px;
  width: 28%;
}

.mat-display-flex{
  justify-content: space-evenly;
}

.subtitle{
  margin-top: 20px;
}
