<div class="title m-20">You can help us!</div>

<div class="mat-display-flex">
  <div class="container" (click)="openVolunteerModal()">
    <div class="subtitle">BE A VOLUNTEER</div>
    <div class="body-text m-20 justify-text">
      Ready to make a difference in the lives of dogs? Join us as a volunteer at
      our nonprofit and experience the joy of changing canine lives! We believe
      in the power of individuals to create positive impact. As a volunteer,
      you'll directly contribute to the well-being and happiness of rescued
      dogs. Whether it's caring for them, assisting in adoptions, or helping
      with events, every action matters. By dedicating your time, you'll provide
      a second chance to deserving dogs. Being a volunteer offers personal
      benefits too. Learn new skills, build friendships, and witness the joy of
      a dog finding their forever home. No matter your age or experience,
      everyone has something special to contribute. Join us and be part of a
      compassionate community. Take the first step! Register now to become a
      volunteer at our dog adoption nonprofit.
    </div>
  </div>
  <div class="container">
    <div class="subtitle">MAKE A DONATION</div>
    <div class="body-text m-20 justify-text">
      Your donation is crucial to our organization. Help us make a difference in
      the lives of dogs by supporting our nonprofit. Donations provide food,
      medical care, and shelter for rescued dogs. Your contribution directly
      impacts their well-being and gives them a chance at a better life. Every
      donation matters. By giving, you become a lifeline for these vulnerable
      animals, offering them a second chance filled with love and care. Your
      donation is an investment in compassion. It ensures that our organization
      can continue its mission and make a lasting impact in the lives of these
      deserving dogs. Together, we can create a world where every dog has a
      chance. Your donation helps us expand outreach programs, raise awareness
      about responsible pet ownership, and educate the community about adoption.
      Make a meaningful difference today. Thank you for your support!
    </div>
  </div>

  <div class="container" (click)="openSuggestionModal()">
    <div class="subtitle">SEND A SUGGESTION</div>
    <div class="body-text m-20 justify-text">
      We value your input! Your suggestions can help us improve and make a
      greater impact. Share your ideas for enhancing our programs and services.
      Your input allows us to adapt and evolve, ensuring we meet the needs of
      the dogs and community. Every voice matters, and we're committed to an
      open and inclusive environment. Together, we can achieve excellence. Your
      suggestions may inspire positive changes in our adoption process,
      training, or fundraising. Send us your ideas. We appreciate your
      commitment to improving our organization. Thank you for being a part of
      our journey towards making a difference in the lives of these deserving
      dogs!
    </div>
  </div>
</div>
